.login {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 195px);
  max-width: 1340px;
  width: 100%;
  background-color: #ffffff;
  
}
.login__title {
  color: #000000;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  margin: 160px 0 72px;
}

.login__button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 410px 0;
  width: 400px;
  height: 60px;
  background: linear-gradient(269.17deg, #3b23b7 30.28%, #c914e7 63.24%);
  color: #f0f0f0;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: url('../../icons/pointer_main.svg'), auto;;
  transition: all 0.4s ease-in-out;
}
.login__button:hover{
    opacity: 0.85;
}
.login__buttonText {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  box-sizing: border-box;
}


@media screen and (max-width: 500px) {
  .login__title {
    font-size: 32px;
    line-height: 42px;
    margin: 85px 0 25px;
  }
  .login{
    min-height: calc(100vh - 160px);
  }
}
