.login {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 195px);
  max-width: 1340px;
  width: 100%;
  background-color: #ffffff;
  
}
.login__title {
  color: #000000;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  margin: 160px 0 72px;
}

@media screen and (max-width: 500px) {
  .login__title {
    font-size: 32px;
    line-height: 42px;
    margin: 85px 0 25px;
  }
  .login__button {
    width: 250px;
    height: 60px;
    margin: 0 0 158px 0;
  }
}
