.chatIconContainer{
    display: flex;
    cursor: url("../../../icons/pointer_main.svg"), pointer;

}
.chatIcon {
  position: relative;
}
.chatIconCounter{
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -8px;
    right: -7px;
    background-color: black;
    border-radius: 40px;
    color: white;
    font-size: 12px;
    line-height: 12px;
}