.page {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "IBM Plex Sans", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  background: #f5f5f5;
}
.main{
  min-height: calc(100vh - 195px);
}
@media screen and (max-width: 500px) {
  .main {
    min-height: calc(100vh - 160px);
  }
}