.profilePhoto {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 80%;
  margin: 0 5px 0 0;
}

.profilePhotoAdmin {
  width: 32px;
  height: 32px;
  border-radius: 80%;
  margin: 0 5px 0 0;
  background-color: gray;
}

.profileName {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #100C34;
  margin: 0;
  max-width: 212px;
  max-height: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.accountBox {
  display: flex;
  align-items: center;
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
  /* После добавления роутинга text-decoration нужно удалить */
  text-decoration: none;
}

.accountBox:hover {
  opacity: 0.85;
  cursor: url('../../icons/pointer_main.svg'), auto;
}

@media screen and (max-width: 500px) {
  .profileName {
    display: none;
  }
}
