.card {
  z-index: -1;
  position: relative;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto min-content min-content;
}

.card:hover .cardImgContainer {
  outline: 2px solid #ff00a8;
}
.card:hover .cardName {
  color: #ff00a8;
}
.card:hover .cardIcon {
  display: flex;
}

.cardImgContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.cardImg {
  box-sizing: border-box;
  object-fit: cover;
  width: 100%;
  height: 100%;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.cardName {
  margin: 0;
  padding: 11px 0 5px;
  font-size: 20px;
  line-height: 28px;
  color: #100c34;
}
.cardPlace {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  color: #a3a3a3;
}
.cardIcon {
  display: none;
  position: absolute;
  top: 12px;
  right: 20px;
  transition: all 0.2s ease-in;
}
