.section_wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
  cursor: pointer;
}

.icon {
  position: absolute;
  top: 14px;
  right: 18px;
  cursor: pointer;
  z-index: 2;
}

.calendar_box {
  width: 216px;
  height: 184px;
  border: 1px solid black;
  padding: 8px;
  border-radius: 4px;
  background-color: white;
  box-sizing: border-box;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  top: 80px;
  right: 0;
}

.buttons_wrapper {
  width: 100%;
  display: flex;
  gap: 8px;
  justify-content: space-around;
}

.days_list {
  list-style-type: none;
  padding: 0;
  margin: 8px 0 0 0;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  column-gap: 7.4px;
  row-gap: 8px;
  box-sizing: border-box;
  overflow: hidden;
}

.years_button {
  background-image: url(../../icons/openArray.svg);
  background-repeat: no-repeat;
  background-position: center right 8px;
  font-size: 14px;
  line-height: 18px;
  border-radius: 4px;
  border: none;
  background-color: #f8f8f8;
  padding: 2px 4px 2px 6px;
  width: 68px;
  height: 22px;
  margin-left: 12px;
}

.months_button {
  background-image: url(../../icons/openArray.svg);
  background-repeat: no-repeat;
  background-position: center right 8px;
  font-size: 14px;
  line-height: 18px;
  border-radius: 4px;
  border: none;
  background-color: #f8f8f8;
  padding: 2px 4px 2px 6px;
  margin-right: 12px;
  width: 100px;
  height: 22px;
}

.day_box {
  border-radius: 4px;
  color: #83828f;
  font-size: 12px;
  line-height: 16px;
  cursor: pointer;
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s linear;
}

.psevdo_box {
  font-size: 12px;
  line-height: 16px;
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #100c34;
  cursor: default;
}

.psevdo_box:last-child,
.psevdo_box:nth-last-child(2) {
  color: #ff00a8;
}

.day_box:nth-child(7n + 6),
.day_box:nth-child(7n) {
  color: #ff00a8;
}

.day_box.active {
  background-color: #ff00a8;
  color: #fff;
}

.pinky {
  color: #ff00a8;
}

.years_button::-webkit-scrollbar,
.months_button::-webkit-scrollbar {
  background-color: white;
  width: 2px;
  height: 2px;
}

.years_button::-webkit-scrollbar-thumb,
.months_button::-webkit-scrollbar-thumb {
  background-color: #83828f;
  border-radius: 7px;
}

.input {
  cursor: pointer;
  padding: 14px 16px;
  width: 100%;
  max-height: 48px;
  border: 1px solid #100c34;
  border-radius: 4px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #100c34;
}
