.button_wrapper {
  width: 285px;
}

.button_title {
  font-size: 24px;
  line-height: 32px;
  margin: 0;
  text-align: left;
}

.button_text {
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  margin: 12px 0 0 0;
}

.button:hover {
  opacity: 0.9;
}

.upload_file_wrapper {
  width: 100%;
  position: relative;
  display: inline-block;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(269.17deg, #3b23b7 30.28%, #c914e7 63.24%);
  width: 100%;
  margin-top: 20px;
  height: 44px;
  border: none;
  border-radius: 4px;
  color: #f0f0f0;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s linear;
}

.input {
  display: none;
}
