.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* В макете ширина указана 1440px, но если накинуть пёрфект пиксель, то вообще не совпадает
      Пока оставлю так, если что поправишь */
    max-width: 1340px;
    box-sizing: border-box;
    max-height: 112px;
    padding: 40px;
    background-color: #FFFFFF;
    margin: auto;
}
.headerLogo {
  max-width:140px;
  max-height:25px;
}

.headerProfile{
    display: flex;
    align-items: center;
    
}
.headerProfilePhoto{
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 80%;
    margin: 0 5px 0 0;
}
.headerProfileName{
    color: #100C34;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    margin: 0;
    max-width: 212px;
    max-height: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
@media screen and (max-width: 500px) {
  .headerProfileName {
    display: none;
  }
}