.profileDetailsOtherBlock{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 440px;
    min-height: 342px;
    margin-bottom: 56px;
  }
  .profileDetailsOtherBlock:hover .profileDetailsOtherBlockChatIcon{
    visibility: visible;
  }
  .profileDetailsOtherBlockBorder{
    max-height: 6px;
    max-width: 440px;
    width: 100%;
  }
  
  .profileDetailsOtherBlockImg {
    max-width: 210px;
    max-height: 130px;
    margin-top: 16px;
    object-fit: cover;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
      filter: grayscale(100%);
  }
  
  
  .profileDetailsOtherBlockTitle{
    margin: 0;
    padding: 15px 0 0 3px;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
  }
  
  
  .profileDetailsOtherBlockDescription{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    max-width: 435px;
    margin: 0;
    padding-top: 15px;
  }

  .profileDetailsOtherBlockChatIcon{
    visibility: hidden;
    position: absolute;
    top:15px;
    right: 18px;
  }