.search_title {
  margin: 48px 0 0 0;
  padding: 0;
  text-align: left;
  font-size: 16px;
  line-height: 24px;
  color: #100c34;
}

.search_box {
  margin-top: 4px;
  max-width: 1015px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  position: relative;
}

.search {
  max-width: 1015px;
  border: 1px solid #100c34;
  border-radius: 4px;
  padding: 12px 16px;
  margin: 0;
  transition: 0.3s linear;
  cursor: pointer;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 24px;
}

.search:hover {
  border: 1px solid #ff00a8;
}

.search:focus {
  outline: none;
  border: 1px solid #ff00a8;
}

.search::placeholder {
  color: #83828f;
}

.clearIcon {
  position: absolute;
  top: 18px;
  right: 30px;
  cursor: pointer;
  transition: 0.3s linear;
}

.clearIcon:hover {
  opacity: 0.7;
}

.list_wrapper {
  width: 100%;
  margin-top: 11px;
  padding-right: 24px;

  overflow: auto;
  box-sizing: border-box;
}

.list_flags_wrapper {
  min-width: 944px;
  margin-top: 60px;
}

.list_flags {
  margin: 0;
  padding: 0 28px 0 0;
  list-style-type: none;
  display: grid;
  grid-template-columns:
    minmax(20px, 70px) minmax(20px, 100px) minmax(20px, 190px) minmax(
      20px,
      190px
    )
    minmax(20px, 180px) minmax(20px, 442px) 22px;
  column-gap: 24px;
  text-align: left;
  color: #83828f;
  font-size: 16px;
  line-height: 24px;
}

.list {
  min-width: 916px;
  list-style-type: none;
  padding: 0;
  margin-top: 11px;
  color: #100c34;
}

.list_item {
  max-width: 100%;
  display: grid;
  grid-template-columns:
    minmax(20px, 70px) minmax(20px, 100px) minmax(20px, 190px) minmax(
      20px,
      190px
    )
    minmax(20px, 180px) minmax(20px, 442px) 22px;
  column-gap: 24px;
  text-align: left;
  border-bottom: 1px solid #83828f;
  padding: 12px 0 12px 0;
}

.list_item_text {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.list_item:first-child {
  border-top: 1px solid #83828f;
}

.list_wrapper::-webkit-scrollbar {
  background-color: inherit;
  width: 4px;
  height: 4px;
}

.list_wrapper::-webkit-scrollbar-thumb {
  background-color: #83828f;
  border-radius: 7px;
}

.icon_wrapper {
  display: flex;
  justify-content: right;
  align-items: center;
  cursor: pointer;
  transition: 0.2s linear;
}

.icon_wrapper:hover {
  opacity: 0.6;
}

.content_wrapper {
  max-width: 1360px;
  overflow: auto;
}

.error {
  margin: 48px 0 0 0;
  color: #e90d41;
  font-size: 16px;
  line-height: 24px;
}

.adaptive_box {
  overflow-x: auto;
  overflow: auto;
  box-sizing: border-box;
}

@media screen and (max-width: 320px) {
  .adaptive_box {
    width: 290px;
    height: calc(100vh - 360px);
  }
}

@media screen and (max-width: 320px) {
  .list_wrapper {
    width: 1360px;
  }
}

@media screen and (max-width: 320px) {
  .list_flags_wrapper {
    min-width: 1360px;
  }
}
