.list_wrapper {
  width: 100%;
  margin-top: 11px;
  padding-right: 24px;
  height: calc(100vh - 360px);
  overflow: auto;
  box-sizing: border-box;
}

.list_flags_wrapper {
  min-width: 944px;
  margin-top: 60px;
}

.list_flags {
  margin: 0;
  padding: 0 28px 0 0;
  list-style-type: none;
  display: grid;
  grid-template-columns:
    minmax(20px, 70px) minmax(20px, 100px) minmax(20px, 190px) minmax(
      20px,
      190px
    )
    minmax(20px, 180px) minmax(20px, 442px) 22px;
  column-gap: 24px;
  text-align: left;
  color: #83828f;
  font-size: 16px;
  line-height: 24px;
}

.list {
  min-width: 916px;
  list-style-type: none;
  padding: 0;
  margin-top: 11px;
  color: #100c34;
}

.list_item {
  max-width: 100%;
  display: grid;
  grid-template-columns:
    minmax(20px, 70px) minmax(20px, 100px) minmax(20px, 190px) minmax(
      20px,
      190px
    )
    minmax(20px, 180px) minmax(20px, 442px) 22px;
  column-gap: 24px;
  text-align: left;
  border-bottom: 1px solid #83828f;
  padding: 12px 0 12px 0;
}

.list_item_text {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.list_item:first-child {
  border-top: 1px solid #83828f;
}

.list_wrapper::-webkit-scrollbar {
  background-color: inherit;
  width: 4px;
  height: 4px;
}

.list_wrapper::-webkit-scrollbar-thumb {
  background-color: #83828f;
  border-radius: 7px;
}

.icon_wrapper {
  display: flex;
  justify-content: right;
  align-items: center;
  cursor: pointer;
  transition: 0.2s linear;
}

.icon_wrapper:hover {
  opacity: 0.6;
}

.content_wrapper {
  width: 100%;
  overflow: auto;
}

@media screen and (max-width: 1024px) {
  .list_flags_wrapper {
    margin-top: 30px;
  }
}
